
// -- VARIAVEIS -- //
$colorBack_1: #ffffff;
$colorBack_2: #f5f7fa;
$colorFont_1: #aab2bd;
$colorFont_2: #646464;
$colorFont_3: #8f9194;
$colorActive: #007bff;


/* -- BODY -- */
body{
    background-color: $colorBack_2;
}


/* -- HEADER -- */
.header{
    width   : 100%;
    height  : 70px;
    padding : 10px 1rem!important;
    background-color : $colorBack_1;
    
    &__p-2 {
        padding : 0px .5rem!important;
    }
}


/* -- LOGO -- */
.logo {
    padding          : 11px 50px;
    background-color : $colorBack_2;
    color            : $colorFont_1;
    margin-left      : 40px;
    height           : 45px;
    width            : 200px;
}


/* -- USER -- */
.user {
    margin      : 0px;
    text-align  : center;
    line-height : 50px;
    
    &__thumb {
        padding      : 15px !important;
        color        : #f5f7fa;
        font-size    : 20px;
        border-width : 2px !important;
        border-color : #f5f7fa !important;
    }
}


/* -- NAV -- */
.nav {
    
    &__title {
        font-size   : 20px;
        margin-left : 40px;
    }
}


/* -- CONTENT -- */
.content {
    padding : 50px 30px;
}


/* --  TABLE -- */
.table {
    
    &__{
        
        &width-size{
            min-width: 1045px;
        }
        
        &container {
            margin-top: 35px;
            color: $colorFont_2;
            user-select: none;
            text-align: center;
        }
        
        &thead {
            color: $colorFont_1;
            font-size: small;
        }
        
        
        &active {
            font-weight: bold;
        }
        &active-col{
            font-weight: bold;
            font-size: 16px;
        }
        
        
        &tr {
            background: $colorBack_1;
            border: 4px solid $colorBack_2;
        }
        
        &first-child {
            border-top-left-radius: 15px; 
            border-bottom-left-radius: 15px;
        }

        &middle-children{
                vertical-align: middle  !important;
        }

        &last-child {
            border-bottom-right-radius: 15px; 
            border-top-right-radius: 15px; 
            vertical-align: middle  !important; 
            
            &_icon{
                width: 10px;
                padding: 0;
                padding-left: 15px;
                padding-right: 30px;
                padding-bottom: 10px;
                padding-top: 10px;
                border: none;
            }
        }
        
        &thumbnail{
            background-repeat: no-repeat;
            width: 60px;
            height: 60px;
            background-position: center;
            margin: 5px;
        }
        

        &btn-sort-by {
            width: 10px;
            line-height: 0;
            padding-top: 13px;
            display: inline-block;
            margin-left: 5px;
            
            &_icon {
                line-height: 0;
            }
        }
    }
}
@media(max-width:1105px){
    .table__container {
        overflow-y: hidden;
        overflow-x: overlay;
    }

}


/* --  BOTÃO NOVO CONTEUDO -- */
.new{
    
    &__{
        
        &btn {
            min-width: 130px;
            padding-right: 15px;
            padding-left: 15px;
        }
        
        &btn-container{
            padding: 6px 30px;
            border-radius: 10px;
        }
        
        
    }
    
}
    

/* --  BUSCA -- */
.seach {
    
    &__input-{
        &icon {
            background: white;
            color: $colorFont_1;
        }

        &content {
            border-left: none;
            padding-left: 5px;
            
            &::placeholder {
                font-style: italic;
                color: $colorFont_1;
            }
        }
    }
}


.form{
    
    &__{
        
        &btn {
            margin: 5px;
            padding: 5px 30px !important;
        }
        
        &container {
            background: $colorBack_1;
            padding: 30px;
            border-radius: 10px;
            
            &_btn {
                margin-top: 40px;
                border-radius: 10px;
                float: right;
                margin-bottom: 60px;
            }
        }
        
        &group{
            padding: 0 10px !important;
        }
        
        &label{
            font-size: 12px;
            color: $colorFont_3;
        }
        
        
        
        &title{
            font-size: 20px;
            font-weight: bold;
            color: $colorActive;
        }
        
        &image_ {
            
            &container{
                margin-top: 50px;
            }
            
            &list{
                width   : 120px;
                height  : 120px;
                margin  : 10px;
                padding : 40px;
                display : inline-block;
                border  : 3px solid $colorBack_2;

                background-repeat   : no-repeat;
                background-position : center;
            }
            
            &active {
                border-color: $colorFont_1;
            }
        }
        
    }

}

.dropdown {
    
    
    &__{
        
        &toggle{
            width: 100%;
            color: #495057;
            border-color: #ced4da;
             
            
            &::after {
                float: right;
                margin-top: 10px
            }
            &:hover, &:focus, &:active{
                border-color: #ced4da !important;
                background: white;
            }
        }
        
        &span {
            float: left;
            
        }
        
        &menu {
            width: 100%;
        }
        
    }
}

.alert {
    margin: 40px 20px 0px 20px;
}





