@charset "UTF-8";
/* -- BODY -- */
body {
  background-color: #f5f7fa;
}

/* -- HEADER -- */
.header {
  width: 100%;
  height: 70px;
  padding: 10px 1rem !important;
  background-color: #ffffff;
}

.header__p-2 {
  padding: 0px 0.5rem !important;
}

/* -- LOGO -- */
.logo {
  padding: 11px 50px;
  background-color: #f5f7fa;
  color: #aab2bd;
  margin-left: 40px;
  height: 45px;
  width: 200px;
}

/* -- USER -- */
.user {
  margin: 0px;
  text-align: center;
  line-height: 50px;
}

.user__thumb {
  padding: 15px !important;
  color: #f5f7fa;
  font-size: 20px;
  border-width: 2px !important;
  border-color: #f5f7fa !important;
}

/* -- NAV -- */
.nav__title {
  font-size: 20px;
  margin-left: 40px;
}

/* -- CONTENT -- */
.content {
  padding: 50px 30px;
}

/* --  TABLE -- */
.table__width-size {
  min-width: 1045px;
}

.table__container {
  margin-top: 35px;
  color: #646464;
  user-select: none;
  text-align: center;
}

.table__thead {
  color: #aab2bd;
  font-size: small;
}

.table__active {
  font-weight: bold;
}

.table__active-col {
  font-weight: bold;
  font-size: 16px;
}

.table__tr {
  background: #ffffff;
  border: 4px solid #f5f7fa;
}

.table__first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.table__middle-children {
  vertical-align: middle  !important;
}

.table__last-child {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  vertical-align: middle  !important;
}

.table__last-child_icon {
  width: 10px;
  padding: 0;
  padding-left: 15px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  border: none;
}

.table__thumbnail {
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  background-position: center;
  margin: 5px;
}

.table__btn-sort-by {
  width: 10px;
  line-height: 0;
  padding-top: 13px;
  display: inline-block;
  margin-left: 5px;
}

.table__btn-sort-by_icon {
  line-height: 0;
}

@media (max-width: 1105px) {
  .table__container {
    overflow-y: hidden;
    overflow-x: overlay;
  }
}

/* --  BOTÃO NOVO CONTEUDO -- */
.new__btn {
  min-width: 130px;
  padding-right: 15px;
  padding-left: 15px;
}

.new__btn-container {
  padding: 6px 30px;
  border-radius: 10px;
}

/* --  BUSCA -- */
.seach__input-icon {
  background: white;
  color: #aab2bd;
}

.seach__input-content {
  border-left: none;
  padding-left: 5px;
}

.seach__input-content::placeholder {
  font-style: italic;
  color: #aab2bd;
}

.form__btn {
  margin: 5px;
  padding: 5px 30px !important;
}

.form__container {
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
}

.form__container_btn {
  margin-top: 40px;
  border-radius: 10px;
  float: right;
  margin-bottom: 60px;
}

.form__group {
  padding: 0 10px !important;
}

.form__label {
  font-size: 12px;
  color: #8f9194;
}

.form__title {
  font-size: 20px;
  font-weight: bold;
  color: #007bff;
}

.form__image_container {
  margin-top: 50px;
}

.form__image_list {
  width: 120px;
  height: 120px;
  margin: 10px;
  padding: 40px;
  display: inline-block;
  border: 3px solid #f5f7fa;
  opacity: 0.3;
  background-repeat: no-repeat;
  background-position: center;
}

.form__image_list:hover {
  border-color: #ced4da;
  opacity: 1;
}

.form__image_active {
  border-color: #75b8ff;
  opacity: 1;
}

.dropdown__toggle {
  width: 100%;
  color: #646464;
  border-color: #ced4da;
}

.dropdown__toggle::after {
  float: right;
  margin-top: 10px;
}

.dropdown__toggle:hover, .dropdown__toggle:focus, .dropdown__toggle:active {
  border-color: #ced4da !important;
  background: #ffffff;
}

.dropdown__span {
  float: left;
  font-size: 12px;
  padding: 2px;
  padding-left: 0px;
  height: 24px;
  width: calc(100% - 15px);
  color: #8f9194;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown__menu {
  width: 100%;
}

.menu-speciality_input {
  display: none;
}

.menu-speciality_input:checked + .menu-speciality_label {
  background: #75b8ff;
  color: #ffffff;
}

.menu-speciality_input:checked + .menu-speciality_label > .menu-speciality_check {
  display: block;
}

.menu-speciality_input:checked + .menu-speciality_label:hover {
  background: #ced4da;
  color: #646464;
}

.menu-speciality_label {
  font-size: 16px;
  margin-bottom: 5px;
  padding-left: 10px;
  cursor: pointer;
  display: block;
  height: 35px;
  padding-top: 5px;
}

.menu-speciality_label:hover {
  background: #ced4da;
}

.menu-speciality_check {
  display: none;
  float: right;
  margin-right: 10px;
  margin-top: 4px;
}
